/*
!/.gitignore
!/gitconfig.ini
!/global-gitignore
!/.tmux.conf
!/bootstrap.fish
!/README.md

!/bin
bin/nogit

!/Wallpapers
Wallpapers/current

!/config
config/*

# Spacemacs
!/.spacemacs
!/config/spacemacs/
config/spacemacs/custom-file.el
config/spacemacs/org-config.el

!/config/emacs
config/emacs/modules/*.elc
config/emacs/modules/autoloads/*.elc

!/config/sway
!/config/swaylock
!/config/waybar
!/config/alacritty
!/config/redshift
!/config/mako
!/config/kanshi
!/config/wofi
!/config/environment.d
!/config/vim
!/config/nvim
!/config/bat
!/config/fish
config/fish/fish*history
config/fish/fishd*
config/fish/fish_variables
!/config/git
!/config/tig
!/config/starship.toml
!/config/newsboat
!/config/gtk-3.0
!/config/Code\ -\ OSS
!/config/Code/User

!/nixos
