/*
!/.gitignore
!/.vimrc
!/.zshrc
!/.xinit
!/.config
!/.nvimrc
!/bin
!/.config/compton.conf
.config/*
!.themes
!/.config/i3
!/.config/xkb
!/.config/aliases
!/.zprestorc
!/.spacemacs
!/.zprezto
!/.config/fish/config.fish
!/.config/fish/functions/*
.config/fish/fish_history
.config/fish/fishd.nbooktf
