[include]
    path=~/.gitcredentials 
  #user and credential block
[push]
    default = simple
[diff]
    tool = vimdiff
    guitool = meld
[core]
    editor = nvim
    autocrlf = input
[merge]
    tool = meld
[alias]
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    s = status -s
    ss = status
    a = add
    ai = add -i
    ps = push
    pl = pull
    f = fetch
    c = commit -v
    ca = commit -a -v
    dt = difftool
    dtg = difftool -g
    b = branch
    co = checkout
    cb = checkout -b
    d = diff --stat
    dd = diff
    st = stash
    re = remote
    unpushed = log --branches --not --remotes --no-walk --decorate --oneline
    psf = push --force-with-lease
    fa = fetch --all
    psu = push --set-upstream origin HEAD
[branch]
    autosetuprebase = always
[pager]
    log = diff-highlighter.fish | less -R
    show = diff-highlighter.fish | less -R
    diff = diff-highlighter.fish | less -R
[interactive]
    diffFilter = diff-highlighter.fish
