[include]
  path=~/.gitcredentials 
  #user and credential block
[push]
	default = simple
[core]
	editor = /usr/bin/vim
[diff]
	tool = vimdiff
	guitool = meld
[core]
	editor = vim
	autocrlf = input
[merge]
	tool = meld
[alias]
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ll = log --color --graph --oneline --decorate --date=relative --all --pretty=short
	lll = log --color --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
	lf = log --color --graph --oneline --decorate --date=relative --all --pretty=fuller
	s = status -s
	ss = status
	a = add
	ai = add -i
	ps = push
	pl = pull
	f = fetch
	c = commit -v
  ca = commit -a -v
	dt = difftool
	dtg = difftool -g
	b = branch
	co = checkout
	cb = checkout -b
	d = diff --stat
	dd = diff
  st = stash
