[Desktop Entry]
Name=Redshift
Terminal=false
Version=1.0
Exec=redshift-gtk
Comment=Color temperature adjustment tool
Hidden=false
Icon=redshift
GenericName=Color temperature adjustment
Categories=Utility;
X-GNOME-Autostart-enabled=true
Type=Application
StartupNotify=true

