[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Xcape
Comment=Maps taps to CTRL_L to Escape
Exec=xcape
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

