# [user] name and email are in conf.d/user.toml (not tracked in dotfiles)

[templates]
draft_commit_description = '''
concat(
  builtin_draft_commit_description,
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''
